{{define "main"}}
  {{ partial "hero.html" . }}
  <div class="container">
    <h2 style="margin-inline: 3vw; padding-top: 2em;">Com a Confidence Construtora, garantimos:</h2>
  </div>
  <div class="container" style="padding: 3rem; display: grid; grid-auto-flow: column; grid-auto-columns: 1fr; grid-gap: 15px">
    <div class="card mb-3" style="">
      <div class="row no-gutters">
        <div class="col-md-4 p-2">
          <img src="images/home cards/skills-svgrepo-com.svg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Equipamentos e tecnologia modernos</h5>
            <p class="card-text">As inovações na construção civil são soluções técnicas que auxiliam na otimização dos processos de construção e no resultado da obra. Essas tecnologias visam resolver problemas que podem aparecer durante a execução do projeto, aumentar a produtividade e garantir a sustentabilidade no setor civil.</p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="">
      <div class="row no-gutters">
        <div class="col-md-4 p-2">
          <img src="images/home cards/worker-helmet-svgrepo-com.svg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Forte gestão de risco </h5>
            <p class="card-text">A gestão de riscos é um dos elementos mais importantes de uma boa construção.  Para nós é fundamental que sejamos capaz de lidar com isso por meio de um forte gerenciamento de risco.</p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="container" style="padding-inline: 3rem; display: grid; grid-auto-flow: column; grid-auto-columns: 1fr; grid-gap: 15px">
    <div class="card mb-3" style="">
      <div class="row no-gutters">
        <div class="col-md-4 p-2">
          <img src="images/home cards/goal-svgrepo-com.svg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Experiência e sucesso</h5>
            <p class="card-text">Outra qualidade forte a ser buscada em uma empresa de construção é um histórico comprovado de sucesso e uma profunda experiência relacionada ao setor. Todos os projetos são diferentes, é claro.Aqui na Confidence temos histórico de sucessos em obras de alta qualidade
              </p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="">
      <div class="row no-gutters">
        <div class="col-md-4 p-2">
          <img src="images/home cards/team-svgrepo-com.svg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Uma equipe qualificada</h5>
            <p class="card-text">A construção bem sucedida requer uma equipe muito diversificada de profissionais altamente qualificados. Os projetos exigem gerentes de projeto, avaliadores, agrimensores, inspetores de segurança, inspetores de QA/QC, chefes de equipe, assistentes administrativos, mecânicos, operadores de máquinas, motoristas de caminhão e arquitetos.</p>
            <p class="card-text"><small class="text-muted"> </small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="container bg-dark" style="width: 100vw; max-width: 100vw; margin-top: 15px; margin-bottom: 15px;">
    <h2 style="color: #e36a13; margin-inline: 4.5vw; padding-top: 2em; margin-bottom: 30px; color: orange\">Como a Confidence Construtora, valorizamos:</h2>
    <section class="container" style="padding-bottom: 4em; padding-inline: 3vw; gap: 10px; display: grid;">
      <p>
        Ser uma empresa líder em referência no setor da construção civil, atendendo as demandas com uma estrutura competente e otimizada que nos permita enfrentar novos desafios e continuar a superar as expectativas de nossos clientes, possibilitando assim um crescimento sólido e a consequente expansão de nossas atividades.
      </p>
      <p>
        Realizar obras industrias e empreendimentos imobiliários com qualidade e ser na indústria da construção civil, uma empresa referência em qualidade
      </p>
    </section>
  </div>

  {{ partial "testimonial.html" . }}
  
  {{ partial "contactAddress.html" . }}
{{end}}
